body {
    background-color: rgb(218, 215, 198);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4em;
}

.primaryContainer {
    position: relative;
    padding: 48px;
}

#overlay {
    float: left;
    height: auto;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.921569);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    top: 0px;
    left: 1%;
    z-index: 20;
    clear: none;
    display: block;
    padding: 24px;
    margin: 0px;
}

#headline {
    float: left;
    font-size: 4.5em;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    clear: right;
    max-width: none;
    padding: 0px;
}

#byline {
    float: left;
    font-size: 3em;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    color: rgb(194, 80, 71);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    top: 0px;
    left: 0px;;
    margin: 0px 0px 24px;
    clear: right;
    max-width: none;
    padding: 0px;
}

#divider {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

#biography {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px 0px 12px;
    padding: 0px;
}

#biography p {
    margin-bottom: 12px;
}

#biography p span.bold {
    font-weight: 700;
}

#download {
    text-align: center;
    margin-bottom: 24px;
    font-size: 2.25em;
    line-height: normal;
    color: rgb(189, 184, 165);
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#download a {
    color: rgb(121, 158, 164);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#download a:hover {
    color: rgb(194, 80, 71);
}

#links {
    float: left;
    height: 100px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(189, 184, 165);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px;
    padding: 12px;
    clear: right;
}

#links lh {
    width: 100%;
    float: left;
    clear: both;
    font-size: .8em;
    line-height: 2.6em;
    font-weight: bold;
    margin-top: -10px;
    text-transform: uppercase;
}

#links li {
    float: left;
    width: 40%;
    line-height: 24px;
    margin-bottom: 6px;
    padding-left: 32px;
    font-weight: 700;
}

#links li :hover {
    color: rgb(194, 80, 71);
}

#linkedin {
    background: url('../img/linkedin.png') no-repeat 0px 0px transparent;
    list-style-type: none;
}

#twitter {
    background: url('../img/twitter.png') no-repeat 0px 0px transparent;
    list-style-type: none;
}

#pinterest {
    background: url('../img/pinterest.png') no-repeat 0px 0px transparent;
    list-style-type: none;
}

#facebook {
    background: url('../img/facebook.png') no-repeat 0px 0px transparent;
    list-style-type: none;
}

h3 {
    float: left;
    font-size: 3em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    color: rgb(194, 80, 71);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin: 0px 0px 12px;
    clear: right;
    max-width: none;
    padding: 0px;
}

h3 + p {
    float: left;
    margin-bottom: 24px;
}

#thoughts {
    overflow: hidden;
    min-height: 100%;
    position: fixed;
    z-index: 10;
    top: 48px;
    left: 548px;
    right: 0px;
}

#head {
    width: 406px;
    height: 584px;
    display: block;
    position: fixed;
    top: 134px;
    left: 55%;
    transform: translate(48px, 0);
}

#thoughtsL {
    width: 341px;
    height: 744px;
    display: block;
    position: fixed;
    left: 47%;
    z-index: 15;
}

#thoughtsR {
    width: 371px;
    height: 738px;
    display: block;
    position: fixed;
    left: 75%;
    z-index: 15;
}

#parallax {
    overflow: hidden;
    height: auto;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#parallax1L {
    width: 410px;
    height: 609px;
    position: fixed;
    top: 125px;
    left: 38%;
}

#parallax1R {
    width: 186px;
    height: 823px;
    position: fixed;
    top: 0px;
    left: 84%;
}

#parallax2L {
    width: 397px;
    height: 723px;
    position: fixed;
    top: 0px;
    left: -8%;
}

#parallax2R {
    width: 391px;
    height: 768px;
    position: fixed;
    top: -240px;
    left: auto;
    right: -10%;
}

@media only screen and (max-width: 660px) {
    .primaryContainer {
        padding: 24px;
    }
    
    #overlay {
        width: auto;
    }
}