body {
    background-color: rgb(218, 215, 198);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
}

.primaryContainer {
    position: relative;
    padding: 48px;
}

#overlay {
    float: left;
    height: auto;
    width: 500px;
    background-color: rgba(255, 255, 255, .9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    top: 0px;
    z-index: 20;
    clear: none;
    display: block;
    padding: 24px;
    margin: 0px;
}

#headline {
    float: left;
    font-size: 4.5em;
    font-weight: normal;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    clear: right;
    margin: 0;
    padding: 0;
}

#byline {
    float: left;
    font-size: 3em;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    color: rgb(194, 80, 71);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    top: 0px;
    left: 0px;;
    margin: 0px 0px 24px;
    clear: right;
    max-width: none;
    padding: 0px;
}

#divider {
    display: block;
    width: 45%;
    height: auto;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

#biography {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px 0px 12px;
    padding: 0px;
}

#biography p {
    margin-bottom: 12px;
}

#biography p span.bold {
    font-weight: 700;
}

.bold {
    color: rgb(35, 31, 32);
    font-weight: bold;
}

#normal {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: source-sans-pro;
}

#link {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(194, 80, 69);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: source-sans-pro;
}

#download {
    text-align: center;
    margin-bottom: 24px;
    font-size: 2.25em;
    line-height: normal;
    color: rgb(189, 184, 165);
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#download a {
    color: rgb(121, 158, 164);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    white-space: nowrap;
}

#download a:hover {
    color: rgb(194, 80, 71);
}

#links {
    float: left;
    height: 106px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(189, 184, 165);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px;
    padding: 12px;
    clear: right;
}

#links lh {
    width: 100%;
    float: left;
    clear: both;
    font-size: .8em;
    line-height: 2.6em;
    font-weight: bold;
    margin-top: -10px;
    text-transform: uppercase;
}

#links li {
    float: left;
    width: 40%;
    line-height: 24px;
    margin-bottom: 6px;
    padding-left: 32px;
    font-weight: 700;
}

#links li :hover {
    color: rgb(194, 80, 71);
}

#linkedin {
    background: url('../img/linkedin.png') no-repeat 0px 0px transparent;
    list-style-type: none;
}

#twitter {
    background: url('../img/twitter.png') no-repeat 0px 0px transparent;
    list-style-type: none;
}

#pinterest {
    background: url('../img/pinterest.png') no-repeat 0px 0px transparent;
    list-style-type: none;
}

#facebook {
    background: url('../img/facebook.png') no-repeat 0px 0px transparent;
    list-style-type: none;
}

#head {
    float: left;
    width: 70%;
    max-width: none;
    height: auto;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 15%;
    z-index: 8;
    clear: none;
    display: block;
    padding: 0px;
    min-width: 0px;
    bottom: auto;
    right: auto;
}

#thoughts {
    float: left;
    height: auto;
    clear: none;
    width: 60%;
    min-height: 0px;
    position: fixed;
    z-index: 10;
    top: 48px;
    left: auto;
    right: 0px;
    bottom: auto;
}

#thoughtsL {
    float: left;
    width: 50%;
    max-width: none;
    height: auto;
    color: rgb(0, 0, 0);
    position: absolute;
    top: -48px;
    left: -15%;
    z-index: 11;
    clear: none;
    display: block;
    padding-left: 0px;
    right: auto;
    bottom: auto;
}

#thoughtsR {
    float: left;
    width: 50%;
    max-width: none;
    height: auto;
    color: rgb(0, 0, 0);
    position: absolute;
    top: -48px;
    left: 70%;
    z-index: 10;
    clear: none;
    display: block;
    right: auto;
    bottom: auto;
}

#parallax {
    overflow: hidden;
    height: auto;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#parallax1L {
    width: 40%;
    height: auto;
    position: absolute;
    top: 168px;
    left: 29%;
}

#parallax1R {
    width: 25%;
    height: auto;
    position: absolute;
    top: -170px;
    right: 2.5%;
}

#parallax2L {;
    width: 50%;
    height: auto;
    position: absolute;
    top: -64px;
    left: -16.4%;
}

#parallax2R {
    width: 50%;
    height: auto;
    position: absolute;
    top: -265px;
    right: -24%;
}

#header {
    float: left;
    font-size: 0.8em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin: 0px 0px 6px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    z-index: 19;
    text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
    #head {
        left: 21%;
        right: auto;
        width: 90%;
    }

    #thoughtsL {
        left: -4.8%;
        right: auto;
        width: 60%;
    }

    #thoughtsR {
        left: 79.9%;
        right: auto;
        width: 60%;
        display: none;
    }

    #parallax1R {
        left: auto;
        bottom: auto;
        top: -298px;
        right: 2.5%;
    }

    #parallax2L {
        width: 60%;
        left: -17%;
        right: auto;
        top: -52px;
        bottom: auto;
        display: block;
    }

    #parallax1L {
        left: 34.7%;
        right: auto;
        display: block;
        width: 50%;
    }

    #parallax2R {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #head {
        left: 38.6%;
        right: auto;
        width: 120%;
    }

    #thoughtsL {
        left: 8.6%;
        right: auto;
        width: 80%;
    }

    #thoughtsR {
        left: 100.3%;
        right: auto;
        display: none;
    }

    #parallax2R {
        display: none;
    }

    #parallax1R {
        display: none;
        left: auto;
        bottom: auto;
    }

    #parallax2L {
        width: 80%;
        left: -25.7%;
        right: auto;
    }

    #parallax1L {
        width: 50%;
        display: none;
    }
}

@media only screen and (max-width: 546px) {
    #overlay {
        width: auto;
        min-width: 300px;
    }

    .primaryContainer {
        padding: 24px;
    }

    #head {
        width: 150%;
        left: 20.3%;
        right: auto;
    }

    #thoughtsL {
        width: 100%;
        left: -9.6%;
        right: auto;
    }

    #parallax1L {
        left: 5%;
        right: auto;
    }

    #parallax2L {
        left: -33%;
        right: auto;
        width: 100%;
    }
}

